:root {
    --primary-color: #0f2027;
    /*forest green*/
    --secondary-color: rgb(26, 54, 93);
    /*warm sand*/
    --accent1-color: rgb(255, 89, 12);
    /*dark slate blue*/
    --accent2-color: #f4f7f6;
    /*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--accent2-color);
    color: #2d3748;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid #0f2027;
    margin: 10px;
    box-shadow: 0 4px 6px #264653;
}

.hero article {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 20px;
    background-color: var(--secondary-color);
    padding: 10px;
    color: var(--accent2-color);
    opacity: 90%;
}

header {
    background-color: var(--accent2-color);
}

nav a {
    font-weight: bold;
}

.hero article h2 {
    color: #ffffff;
}