:root {
    --heading-background-color: darkblue;
    --padding: 1rem;
    --text-align: center;
    --width: 150px;
    --box-shadow: 0 0 30px gray;
    --border: 1px solid rgb(0 0 0 / 0.2);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: var(--width);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    /* 1 */
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: var(--width);
    height: auto;
    border: var(--border);
    /* 1 */
    ;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}